{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header text-{{ section.settings.align_text }}">
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.sub-title }}</p>
    </div>
  {%- endif -%}

    <div class="image-wrapper">
      <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
        {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img role="presentation" class="feature-row__image lazyload"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 750, 900, 1080]"
          data-aspectratio="{{ section.settings.image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ section.settings.image.alt }}">
      </div>
    </div>

  <div id="key_features_carousel" class="grid{% unless section.blocks.size == 5 %} grid--uniform{% endunless %} grid--flush-bottom">
    {%- for block in section.blocks -%}
      <div class="grid__item text-{{ section.settings.align_text }}" {{ block.shopify_attributes }} data-aos="row-of-3">
        <div class="inner-wrapper"> 

          {%- if block.settings.title != blank -%}
          <h3 class="special-font h6">{{ block.settings.title }}</h3>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
          <div class="rte-setting text-spacing">{{ block.settings.text }}</div>
        {%- endif -%}
        {%- if block.settings.button_label != blank -%}
          <a href="{{ block.settings.button_link }}" class="btn btn--secondary btn--small">
            {{ block.settings.button_label }}
          </a>
        {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

<style>
#shopify-section-{{section.id}}{
      padding:50px 0;
      background:{{section.settings.background}};
  }

@media only screen and (min-width:769px){
  #shopify-section-{{section.id}}{
    padding:100px 0;
    padding-bottom:130px;
  }
}
#shopify-section-{{section.id}} .image-wrapper{
  margin-left: -17px;
  margin-right: -17px;
}
#shopify-section-{{section.id}} .grid__item{
  padding-top: 30px;
  padding-bottom: 0;

}
#shopify-section-{{section.id}} .grid{
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-right: -17px;
  /* margin-bottom: 20px; */
}

@media only screen and (min-width:769px){

  #shopify-section-{{section.id}} .image-wrapper{
    width: 40%;
    /* min-width: 530px; */
    margin: 0 auto;
  }
  #shopify-section-{{section.id}}  .page-width{
    position:relative;
  }
  #shopify-section-{{section.id}} .grid{
    border: none;
    position: absolute;
    top: 16vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 0;
  }
  #shopify-section-{{section.id}} .grid__item{
    width: 50%;
    /* padding: 0 15%; */
    position: relative;
  }
  #shopify-section-{{section.id}} .grid__item:nth-child(3),
  #shopify-section-{{section.id}} .grid__item:nth-child(4){
    margin-top: 2vw;
  }
  #shopify-section-{{section.id}} .grid__item .inner-wrapper::before{
    content: "";
    display: inline-block;
    width: 10vw;
    border-bottom: 1px solid;
    position: absolute;
    top: 0.5vw;
  }
#shopify-section-{{section.id}} .grid__item .inner-wrapper{
  width: 15vw;
  min-width:240px;
}
#shopify-section-{{section.id}} .grid__item:nth-child(n) .inner-wrapper::before{
  left: 13vw;
}
#shopify-section-{{section.id}} .grid__item .inner-wrapper{
  margin-left: auto;
  position: relative;
}
#shopify-section-{{section.id}} .grid__item:nth-child(n) .inner-wrapper{
  margin-right: 17vw;
}
#shopify-section-{{section.id}} .grid__item:nth-child(2n) .inner-wrapper{ 
  margin-right: 0;
}
#shopify-section-{{section.id}} .grid__item:nth-child(2n) .inner-wrapper::before{
  right: 17vw;
  left: auto;
}
}
#shopify-section-{{section.id}} .grid--flush-bottom{
  overflow: visible;
}
#shopify-section-{{section.id}} #key_features_carousel{
  margin-bottom: 30px;
}
@media only screen and (min-width:769px){
  #shopify-section-{{section.id}} #key_features_carousel{

    width: 80%;
  }
}
#shopify-section-{{section.id}} #key_features_carousel .flickity-page-dots{
  bottom: -47px;
}
@media only screen and (min-width:1700px){
  #shopify-section-{{section.id}} .image-wrapper{
    width: 600px;
  }
  #shopify-section-{{section.id}} .grid{
    top: 200px;
  }
  #shopify-section-{{section.id}} .grid__item .inner-wrapper{
    width: 300px;
  }
   {% comment %} #shopify-section-{{section.id}} .inner-wrapper h3{
     font-size:calc(var(--typeHeaderSize)*.65)
   } {% endcomment %}
   #shopify-section-{{section.id}} .inner-wrapper p{
    font-size: 1rem;
   }
   #shopify-section-{{section.id}} .grid__item .inner-wrapper::before{
    width: 140px;

   }
#shopify-section-{{section.id}} .grid__item:nth-child(n) .inner-wrapper::before{
  left: 350px;
}
#shopify-section-{{section.id}} .grid__item:nth-child(2n) .inner-wrapper::before{
  right: 308px;
  left: auto ;
}
}

    
@media (min-width:769px) and (max-width:1699px){
  #shopify-section-{{section.id}} .inner-wrapper .h6{
    font-size: 1.7vw;
  }
  #shopify-section-{{section.id}} .inner-wrapper p{
    font-size: 1.3vw;
  }
  #shopify-section-{{section.id}} .grid__item:nth-child(2n) .inner-wrapper::before{
    right: 250px;
    left: auto;
  }
  #shopify-section-{{section.id}} .grid__item .inner-wrapper{
    width: 6vw;
  }
}
</style>

{% schema %}
{
  "name": "Key Features",
  "settings": [
  {
    "type": "color",
    "id": "background",
    "label": "Background Color"
  },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.text-columns.settings.title.label"
    },
    {
      "type": "text",
      "id": "sub-title",
      "label": "Sub Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.text-columns.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-columns.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.text-columns.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-columns.settings.align_text.options.right.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.text-columns.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "t:sections.text-columns.blocks.column.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.text-columns.blocks.column.settings.title.label",
          "default": "Example title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.text-columns.blocks.column.settings.text.label",
          "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.text-columns.blocks.column.settings.button_label.label",
          "default": "Optional button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.text-columns.blocks.column.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Key Features",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
